<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BALIBAR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/fonts.css" />
    <link rel="stylesheet" href="~/css/bars.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-light customNavbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand navLink" asp-controller="Home" asp-action="Index">
                        <img src="~/favicon.ico" style="height:40px;width:55px;margin-top:-10px;" />
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">About us</a></li>
                    <li><a asp-controller="Bars" asp-action="Index">Our Bars</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-controller="Bars" asp-action="Admin">Stats</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @await Html.PartialAsync("_LoginPartial")
                </ul>
            </div>
        </nav>
        <partial name="_CookieConsentPartial" />
    </header>
    <div class="container" style="padding-bottom:2rem">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer">

        <div class="footer-copyright text-center py-3">
            &copy; @DateTime.Now.Year BALIBAR All Rights Reserved &copy;
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
