@{
    ViewData["Title"] = "Not Found";
}
<center>
    <a asp-controller="Home" asp-action="Index">
        <img src="/Content/BALIBAR_full.png" style="width: 60%;padding: 2rem;">
    </a>
    <h1 style="padding:1rem;font-size:70px;">@ViewData["Message"]</h1>
</center>