@*@if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {*@
<div class="row" style="display: flex;">
    <div class="text-center stat-card col-md-6" style="width: 600px;">
        <h2 class="ma-2">Top Bars</h2>
        <div id="top-bars-chart"></div>
    </div>
    <div class="text-center stat-card col-md-6" style="width: 600px;">
        <h2 class="ma-2">Top bar types</h2>
        <div id="top-types-chart"></div>
    </div>
</div>
<div class="row" style="display: flex;">

    <div class="text-center stat-card">
        <h2 class="mt-2">Monthly reservations</h2>
        <div id="monthly-reservations-chart"></div>
    </div>
</div>

@*}
    }*@

@*<script>
        $.ajax({
            url: "/Bars/UserRecommendedBars",
            context: document.body
        }).done(function (data) {
            recommended_rooms_ids = data
            if (recommended_rooms_ids.length) {
                $(".room-card").each(function (index) {
                    let room_id = Number($(this).children("input").first().val());

                    if ($.inArray(room_id, data) != -1) {
                        $(this).children(".info").first().addClass('recommended');
                    }
                });
            }
        });
    </script>*@

<script src="~/js/app.js"></script>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <script type="text/javascript">
            $.ajax({
                url: "/Bars/MostPopularBars",
                context: document.body
            }).done(function (data) {
                create_pie_chart(data, "#top-bars-chart");
            });

            $.ajax({
                url: "/Bars/MostPopularTypes",
                context: document.body
            }).done(function (data) {
                create_type_pie_chart(data, "#top-types-chart");
            });

            $.ajax({
                url: "/Bars/RoomOrdersCountByMonth",
                context: document.body
            }).done(function (data) {
                create_bar_chart(data, "#monthly-reservations-chart");
            });

        </script>
    }
}

