.card.types_card {
    background-color: white;
    color: dodgerblue;
    border-radius: 20px;
}

.card-header-text {
    text-align: center;
    padding-top: 5px;
}

.type_contaniner {
    padding-bottom: 1em;
    margin: 3em;
    background-color: dodgerblue;
    opacity: 0.8;
    border-radius: 35px;
    box-shadow: 2px 2px 15px #000000;
    cursor: pointer;
    transition: .2s;
    z-index: 2;
}

    .type_contaniner:hover {
        transition: .2s;
        transform: scale(1.05);
    }

.sperator {
    padding: 0;
    margin: 0;
    border-top: 1px solid dodgerblue;
    margin: auto;
    width: 80%;
}

.row-centered {
    justify-content: center;
    align-self: center;
}